<p id="notice"><%= notice %></p>

<h1>Listing Researches</h1>

<table>
  <thead>
    <tr>
      <th>Rname</th>
      <th>Rid</th>
      <th>Rbody</th>
      <th>Rextra</th>
      <th>Rimage</th>
      <th>Rlink</th>
      <th>Slug</th>
      <th>Rauthor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @researches.each do |research| %>
      <tr>
        <td><%= research.rname %></td>
        <td><%= research.rid %></td>
        <td><%= research.rbody %></td>
        <td><%= research.rextra %></td>
        <td><%= research.rimage %></td>
        <td><%= research.rlink %></td>
        <td><%= research.slug %></td>
        <td><%= research.rauthor %></td>
        <td><%= link_to 'Show', research %></td>
        <td><%= link_to 'Edit', edit_research_path(research) %></td>
        <td><%= link_to 'Destroy', research, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Research', new_research_path %>
