<p id="notice"><%= notice %></p>

<p>
  <strong>Rname:</strong>
  <%= @research.rname %>
</p>

<p>
  <strong>Rid:</strong>
  <%= @research.rid %>
</p>

<p>
  <strong>Rbody:</strong>
  <%= @research.rbody %>
</p>

<p>
  <strong>Rextra:</strong>
  <%= @research.rextra %>
</p>

<p>
  <strong>Rimage:</strong>
  <%= @research.rimage %>
</p>

<p>
  <strong>Rlink:</strong>
  <%= @research.rlink %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @research.slug %>
</p>

<p>
  <strong>Rauthor:</strong>
  <%= @research.rauthor %>
</p>

<%= link_to 'Edit', edit_research_path(@research) %> |
<%= link_to 'Back', researches_path %>
