<p id="notice"><%= notice %></p>

<h1>Listing Staffnews</h1>

<table>
  <thead>
    <tr>
      <th>Stnews</th>
      <th>Stid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @staffnews.each do |staffnews| %>
      <tr>
        <td><%= staffnews.stnews %></td>
        <td><%= staffnews.stid %></td>
        <td><%= link_to 'Show', staffnews %></td>
        <td><%= link_to 'Edit', edit_staffnews_path(staffnews) %></td>
        <td><%= link_to 'Destroy', staffnews, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Staffnews', new_staffnews_path %>
