Listing the article
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
        <strong> Short Description or subheading or subtitle : </strong>
        <%= @article.sdesc %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= raw(@article.body) %>
</p>

<p>
        <strong> Featured Image : </strong>
        <%= image_tag @article.fimage.url  %>
</p>

<p>
	<strong> Author : </strong>
	<%= @article.author %>
</p>

