<p id="notice"><%= notice %></p>

<h1>Listing Studentnews</h1>

<table>
  <thead>
    <tr>
      <th>Stnews</th>
      <th>Stid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @studentnews.each do |studentnews| %>
      <tr>
        <td><%= studentnews.stnews %></td>
        <td><%= studentnews.stid %></td>
        <td><%= link_to 'Show', studentnews %></td>
        <td><%= link_to 'Edit', edit_studentnews_path(studentnews) %></td>
        <td><%= link_to 'Destroy', studentnews, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Studentnews', new_studentnews_path %>
