<h1> welcome to ceg.annauniv.edu </h1>

//dummy entry for thiruikural and todays quote as of now

// newsletter just put it and leave i ll configure with mailchimp and ajax

<H3> //THE CAROUSEL </H3>

<ul>
<% @staffnews.each do |stnews| %>
  <li><%= raw(stnews.stnews) %></li>
<% end %>
</ul>  


<H3> //THE STAFFNEWS </H3>

<ul>
<% @studentnews.each do |stnews| %>
  <li><%= raw(stnews.stnews) %></li>
<% end %>
</ul>  

<H3> //THE GTNEWS </H3>


<%= raw(blog_feed) %>


<h1> // Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>short desciripton</th>
<th> IMAGE</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.sdesc %></td>
      <td><%= image_tag article.fimage.url(:thumb) %></td>

  </tr>
  <% end %>
</table>

<BR/>

<BR/>
<BR/>
// HARD CODE CONTACT INFO :)

