 <div class="carousel slide col-md-12 car_markup" id="carousel-834021" data-ride="carousel">
          
          <ol class="carousel-indicators ind_markup">
            <li class="active go" data-slide-to="0" data-target="#carousel-834021">
            </li>
            <li class="go" data-slide-to="1" data-target="#carousel-834021">
            </li>
            <li class="go" data-slide-to="2" data-target="#carousel-834021">
            </li>
            <li class="go" data-slide-to="3" data-target="#carousel-834021">
            </li>
          </ol>
          <div class="carousel-inner car_in">
            <div class="item active car_in">
              <center>
              <img alt="Carousel Bootstrap First" src="/assets/slider/slider_kp.jpg" class="iimg">
              <div class="car_overlay"></div>
              <div class="carousel-caption cap_markup">
                <h4>
                  Excellence beyond knowledge
                </h4>
              </div>
              </center>
            </div>
            <div class="item">
              <center>
              <img alt="Carousel Bootstrap Second" src="/assets/slider/slider_red.jpg" class="iimg">
              <div class="car_overlay"></div>
              <div class="carousel-caption cap_markup">
                <h4>
                 Staying true to the winning tradition 
                </h4>
              </div>
              </center>
            </div>
            <div class="item">
              <center>
              <img alt="Carousel Bootstrap Third" src="/assets/slider/slider_redbldg.jpg" class="iimg">
              <div class="car_overlay"></div>
              <div class="carousel-caption  cap_markup">
                <h4>
                  Third
                </h4>
              </div>
              </center>
            </div>
              <div class="item">
              <center>
              <img alt="Carousel Bootstrap Fourth" src="/assets/slider/kalam.jpg" class="iimg">
              <div class="car_overlay"></div>
              <div class="carousel-caption cap_markup">
                <h4>
                 Staying true to the winning tradition 
                </h4>
              </div>
              </center>
            </div>
          </div> 
          <a class="left carousel-control over-top" href="#carousel-834021" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control over-top" href="#carousel-834021" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
  
  <div class="container top-padd">
    <br/><br/>
    <div class="row first_row">
      <div class="col-md-4">
        <center>
          <h2>
            Today's Thirukural
          </h2>
        </center>
        <p style="font-size:20px"><center>
 <%= raw(@thirukural.first.cont) %></center></p>
      </div>
      <div class="col-md-4">
        <center>
          <h2>
            Today's Thought
          </h2>
        </center>
        <p><center>
 <%= raw(@quotes.first.cont) %>
        </center></p>
      </div>
      <div class="col-md-4">
        <center>
          <h2>
            Browse our Gallery
          </h2>
        </center>
        <form role="form col-md-6 col-md-offset-3" style="width: 66%;margin-left: 17%">   
          <a href="/galleries">     
            <button  class= "btn btn-default form-control sub_but">
              Take a look!
            </button>
          </a>
        </form>
      </div>
    </div>
    <br/><br/>
    <div class="row">
      
          <div class="col-md-4 col-xs-12">
              <div class="caption">
                <div class="news_header"> 
                  <h3>
                    Staff News
                  </h3>
                </div>
                <div class="row head-grp">
                  <div class="col-md-6 col-xs-6 stamp">
                      <center>
                        <h4><%= @staffnewscount %></h4>
                        <h6>Updated News</h6>
                      </center>
                  </div>
                  <div class="col-md-6 col-xs-6 stamp-logo">
                    <span><center><img class="iconn"src = "/assets/announcement-icon.png"/></center></span>
                    
                  </div>
                </div>
                <div class="list-group but-grp">
                <button type="button" class="list-group-item first_but cus-but">
                  <span class="ghost"></span>
                  <%= raw(@staffnews.first.stnews) %>
                </button>
                <% @staffnews.where.not(id: @staffnews.first.id).each do |stnews| %>
                  <button type="button" class="list-group-item cus-but">
                    <span class="ghost"></span>
                    <%= raw(stnews.stnews) %>
                  </button>
                  <% end %>
                </div>
                <p>
                  <a class="btn" href="/staffnews">Show more</a>
                </p>
              </div>
      
          </div>
          <div class="col-md-4 col-xs-12">
              <div class="caption">
                <div class="news_header"> 
                  <h3>
                    Student News
                  </h3>
                </div>
                <div class="row head-grp">
                  <div class="col-md-6 col-xs-6 stamp">
                      <center>
                        <h4><%= @studentnewscount %></h4>
                        <h6>Updated News</h6>
                      </center>
                  </div>
                  <div class="col-md-6 col-xs-6 stamp-logo">
                    <span><center><img class="iconn"src = "/assets/announcement-icon.png"/></center></span>
                    
                  </div>
                </div>
                <div class="list-group but-grp">

                  
                    <button type="button" class="list-group-item first_but cus-but">
                      <span class="ghost"></span>
                      <%= raw(@studentnews.first.stnews) %>
                    </button>
                  
                  <% @studentnews.where.not(id: @studentnews.first.id).each do |stnews| %>
                    <button type="button" class="list-group-item cus-but">
                      <span class="ghost"></span>
                      <%= raw(stnews.stnews) %>
                    </button>
                  <% end %>
                </div>
                <p>
                  <a class="btn" href="/studentnews">Show more</a>
                </p>
              </div>
      
          </div>
          <div class="col-md-4 col-xs-12">
              <div class="caption">
                <div class="news_header"> 
                  <h3>
                    QuickLinks
                  </h3>
                </div>
                <div class="row head-grp">
                </div>
                <div class="list-group but-grp">
                  <button type="button" onClick="location.href='https://www.annauniv.edu/pdf/aqar.pdf'" class="list-group-item cus-but">
                    <span class="ghost"></span>
                    <strong class="caret"></strong><a href="https://www.annauniv.edu/pdf/aqar.pdf" target="_blank"> Annual Quality Assurance Report</a>
                  </button>

                  <button type="button" class="list-group-item cus-but" onClick="location.href='https://www.annauniv.edu/pdf/AQAR%20OF%20IQAC%202013-14.pdf'">
                    <span class="ghost"></span>
                    <strong class="caret"></strong> <a href="https://www.annauniv.edu/pdf/AQAR%20OF%20IQAC%202013-14.pdf" target="_blank"> AQAR OF IQAC 2013-14</a>
                  </button>
                  
                  <button type="button" onClick="location.href='https://www.annauniv.edu/pdf/NAAC%20Certificate%2015.pdf'" class="list-group-item cus-but">
                    <span class="ghost"></span>
                    <strong class="caret"></strong><a href="https://www.annauniv.edu/pdf/NAAC%20Certificate%2015.pdf" target="_blank"> NAAC Certificate 2015</a>
                  </button>

                  <button type="button" class="list-group-item cus-but" onClick="location.href='https://www.annauniv.edu/pdf/rar.pdf'">
                    <span class="ghost"></span>
                    <strong class="caret"></strong> <a href="https://www.annauniv.edu/pdf/rar.pdf" target="_blank"> Re-Accredation Report</a>
                  </button>


                  </div>
              </div>
          </div>
          
    </div>
    <br/><br/>
    <div class="row">
      
      <div class="col-md-12 gt-links">
        <h3>Inside the Campus</h3>
        <table class="table table-hover">
         <%= raw(blog_feed) %>
        </table>
        <p>
          <a class="btn" href="http://www.guindytimes.com" target="_blank">Show more</a>
        </p>
      </div>
      
    </div>

    <div class="row bab-lay">
      <div class="col-md-12">
        <center>
        <h2>
          Latest Events
        </h2>
        
        <p>
          Aug'15 - Sep'15
        </p>
        </center>
      </div>
    </div>
    <div class="blog-links">

    <div class="grid row">
    <% @articles.each do |article| %>
            <div class="col-md-4">
              <figure class="effect-oscar">
                <%= image_tag article.fimage.url(:thumb)%>
                <figcaption>
                  <h2>W<%= article.title %></h2>
                  <p><%= article.sdesc %></p>
                  <%= link_to 'Read More', article %>
                </figcaption>     
              </figure>
            </div>
    
      <% end %>        
    </div>

    </div>
    
  </div>
    <script>
      // For Demo purposes only (show hover effect on mobile devices)
      [].slice.call( document.querySelectorAll('a[href="#"') ).forEach( function(el) {
        el.addEventListener( 'click', function(ev) { ev.preventDefault(); } );
      } );
    </script>
   
  </body>
</html>
