<div class="carousel slide col-md-12 car_markup" id="carousel-834021">
          <div class="car_overlay">
          </div>
          <ol class="carousel-indicators ind_markup">
            <li class="active go" data-slide-to="0" data-target="#carousel-834021">
            </li>
            <li class="go" data-slide-to="1" data-target="#carousel-834021">
            </li>
            <li class="go" data-slide-to="2" data-target="#carousel-834021">
            </li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <img alt="Carousel Bootstrap First" src="http://lorempixel.com/output/sports-q-c-1600-500-1.jpg">
              <div class="carousel-caption cap_markup">
                <h4>
                  First Thumbnail label
                </h4>
                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
              </div>
            </div>
            <div class="item">
              <img alt="Carousel Bootstrap Second" src="http://lorempixel.com/output/sports-q-c-1600-500-2.jpg">
              <div class="carousel-caption cap_markup">
                <h4>
                  Second Thumbnail label
                </h4>
                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
              </div>
            </div>
            <div class="item">
              <img alt="Carousel Bootstrap Third" src="http://lorempixel.com/output/sports-q-c-1600-500-3.jpg">
              <div class="carousel-caption  cap_markup">
                <h4>
                  Third Thumbnail label
                </h4>
                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
              </div>
            </div>
          </div> 
        </div>
        <br>
  <div class="container">
    <div class="row first_row">
      <div class="col-md-4">
        <center>
          <h2>
            Today's Thirukural
          </h2>
        </center>
        <p>
          Thuparku thupaya thuppaki vijay nadicha padam ! Thirukural eludhiyavar thiruvalluvar ! sishyan !
        </p>
        <p>
          <a class="btn" href="#">View details »</a>
        </p>
      </div>
      <div class="col-md-4">
        <center>
          <h2>
            Today's Thought
          </h2>
        </center>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        </p>
        <p>
          <a class="btn" href="#">View details »</a>
        </p>
      </div>
      <div class="col-md-4">
        <center>
          <h2>
            Get Your Newsletter
          </h2>
        </center>
        <form role="form col-md-6 col-md-offset-3" style="width: 66%;margin-left: 17%">
          
             
            
          <input class="form-control" id="exampleInputEmail1" type="email">
          
          
          
          <button type="submit" class="btn btn-default form-control sub_but">
            Subscribe!
          </button>
        </form>
      </div>
    </div>
<div class="row">
      
          <div class="col-md-4 col-xs-12">
              <div class="caption">
                <div class="news_header"> 
                  <h3>
                    Staff News
                  </h3>
                </div>
                <div class="row head-grp">
                  <div class="col-md-6 col-xs-6 stamp">
                      <center>
                        <h4>42</h4>
                        <h6>Updated News</h6>
                      </center>
                  </div>
                  <div class="col-md-6 col-xs-6 stamp-logo">
                    <span><center><img class="iconn"src = "assets/announcement-icon.png"/></center></span>
                    
                  </div>
                </div>
                <div class="list-group but-grp">
                  <% @staffnews.each do |stnews| %>
                    <button type="button" class="list-group-item "><%= raw(stnews.stnews) %></button>
                  <% end %>
                </div>
                <p>
                  <a class="btn" href="#">Show more</a>
                </p>
              </div>
      
          </div>
          <div class="col-md-4 col-xs-12">
              <div class="caption">
                <div class="news_header"> 
                  <h3>
                    Student News
                  </h3>
                </div>
                <div class="row head-grp">
                  <div class="col-md-6 col-xs-6 stamp">
                      <center>
                        <h4>42</h4>
                        <h6>Updated News</h6>
                      </center>
                  </div>
                  <div class="col-md-6 col-xs-6 stamp-logo">
                    <span><center><img class="iconn"src = "Images/announcement-icon.png"/></center></span>
                    
                  </div>
                </div>
                <div class="list-group but-grp">
                  <% @studentnews.each do |stnews| %>
                    <button type="button" class="list-group-item "><%= raw(stnews.stnews) %></button>
                  <% end %>
                </div>
                <p>
                  <a class="btn" href="#">Show more</a>
                </p>
              </div>
      
          </div>
          <div class="col-md-4 col-xs-12">
              <div class="caption">
                <div class="news_header"> 
                  <h3>
                    QuickLinks
                  </h3>
                </div>
                <div class="row head-grp">
                </div>
                <div class="list-group but-grp">
                  <button type="button" class="list-group-item  first_but"><strong class="caret"></strong> Cras justo odio</button>
                  <button type="button" class="list-group-item"><strong class="caret"></strong> Dapibus ac facilisis in</button>
                  <button type="button" class="list-group-item"><strong class="caret"></strong> Morbi leo risus</button>
                  <button type="button" class="list-group-item"><strong class="caret"></strong> Porta ac consectetur ac</button>
                  <button type="button" class="list-group-item"><strong class="caret"></strong> Vestibulum at eros</button>
                </div>
                <p>
                  <a class="btn" href="#">Show more</a>
                </p>
              </div>
      
          </div>
        
        
      
    </div>
<div class="row">
      
      <div class="col-md-12 gt-links">
        <h3>Inside the Campus</h3>
        <table class="table table-hover">
         <%= raw(blog_feed) %>
        </table>
        <p>
          <a class="btn" href="#">Show more</a>
        </p>
      </div>
    </div>

<div class="row">
      <div class="col-md-12">
        <center>
        <h2>
          Latest Events
        </h2>
        
        <p>
          Aug'15 - Sep'15
        </p>
        </center>
      </div>
    </div>
    <div class="blog-links">
      <div class="col-md-4 bg-link">
      
        <img alt="Bootstrap Image Preview" src="assets/200.jpeg">
        <div class="img_overlay">
          <h4>Kurukshetra</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursu</p>
          <div class = "rd-more">
            <button type="submit" class="btn btn-default rd-but">
            Subscribe!
            </button>

            
          </div>
        </div>
      </div>
      <div class="col-md-4 bg-link">
      
        <img alt="Bootstrap Image Preview" src="assets/200.jpeg">
        <div class="img_overlay">
          <h4>Kurukshetra</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursu</p>
          <div class = "rd-more">
            <button type="submit" class="btn btn-default rd-but">
            Subscribe!
            </button>

            
          </div>
        </div>
      </div>
      <div class="col-md-4 bg-link">
      
        <img alt="Bootstrap Image Preview" src="assets/200.jpeg">
        <div class="img_overlay">
          <h4>Kurukshetra</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursu</p>
          <div class = "rd-more">
            <button type="submit" class="btn btn-default rd-but">
            Subscribe!
            </button>

            
          </div>
        </div>
      </div>
      <div class="col-md-4 bg-link">
      
        <img alt="Bootstrap Image Preview" src="assets/200.jpeg">
        <div class="img_overlay">
          <h4>Kurukshetra</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursu</p>
          <div class = "rd-more">
            <button type="submit" class="btn btn-default rd-but">
            Subscribe!
            </button>

            
          </div>
        </div>
      </div>
      <div class="col-md-4 bg-link">
      
        <img alt="Bootstrap Image Preview" src="assets/200.jpeg">
        <div class="img_overlay">
          <h4>Kurukshetra</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursu</p>
          <div class = "rd-more">
            <button type="submit" class="btn btn-default rd-but">
            Subscribe!
            </button>

            
          </div>
        </div>
      </div>
      <div class="col-md-4 bg-link">
      
        <img alt="Bootstrap Image Preview" src="assets/200.jpeg">
        <div class="img_overlay">
          <h4>Kurukshetra</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursu</p>
          <div class = "rd-more">
            <button type="submit" class="btn btn-default rd-but">
            Subscribe!
            </button>

            
          </div>
        </div>
      </div>
    </div>
    </div>

<h1> // Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>short desciripton</th>
<th> IMAGE</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.sdesc %></td>
      <td><%= image_tag article.fimage.url(:thumb) %></td>

  </tr>
  <% end %>
</table>

    <div id="footer">
      <div class="footer-line">
        
      </div>
        <div class="footer-con">
            <p class="text-muted credit">Copyrights 2015, College of Engnineering Guindy</p>
          </div>
      </div>
    

   
  </body>
</html>