<p id="notice"><%= notice %></p>

<h1>Listing Dept Faculs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dept_faculs.each do |dept_facul| %>
      <tr>
        <td><%= dept_facul.name %></td>
        <td><%= link_to 'Show', dept_facul %></td>
        <td><%= link_to 'Edit', edit_dept_facul_path(dept_facul) %></td>
        <td><%= link_to 'Destroy', dept_facul, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dept facul', new_dept_facul_path %>
