<!DOCTYPE html>
<html>
<head>
  <title></title>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CEG</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'style_nav', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'nanobar', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
  var options = {
  bg: '#acf',
  // leave target blank for global nanobar
  //target: document.getElementById('myDivId'),
  // id for new nanobar
  id: 'myDivId'
};



    
  

$(document).resize(function () {
     var screen = $(window);  

     if (screen.width < 1300) {
         $( ".logo" ).addClass( "hidden" );
     } else {
         $( ".logo" ).removeClass( "hidden" );
     }
});


var nanobar = new Nanobar( options );

//move bar
nanobar.go( 30 ); // size bar 30%

// Finish progress bar
nanobar.go(100);
  </script>
</head>
<body>

    <div class="container-fluid head-color">
      
      <div class = "row" >
        <div class = "col-md-3 logo"> 
          <span><a href="https://www.annauniv.edu/" target="_blank"><img class = "pull-left au" src = "/assets/anna.png" height = "50px"/></a></span>
        </div>
        <div class = "col-md-6 col-sm-12 miid">
          <center>
            <img class="head-img"  height = "120px" src = "/assets/CEG_col.png" />
            <div class="head-div">
              <h2>College of Engineering, Guindy</h2>
              <h5>Anna University, Chennai</h5>
            </div>
          </center>
        </div>
        <div class ="col-md-3 ver">
          <!--<form action="http://google.com/search" method="get" class="navbar-form pull-right" role="search">
          <div class="form-group">
            <input class="form-control" type="text" id="q" placeholder="type for search">
          </div> -->
          <form action="http://google.com/search" method="get" class="navbar-form pull-right" role="search" target="_blank">
            <input type="hidden" name="sitesearch" value="http://ceg.annauniv.edu" />
            <input type="text" name="q" class="form-control" type="text" id="q" placeholder="type for search"/>
        
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </form>

      </div>
      </div>
  </div>
  <div class="footer-line"> </div>
    
      <nav class="navbar navbar-default sticky col-md-12 nav_markup" role="navigation">
        <div class="navbar-header">
           
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
             <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button> 
        </div>

        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="<%= "active" if params[:controller] == "welcome" %>">
              <%= link_to 'Home', welcome_index_path %>
            </li>
            <li class="dropdown <%= "active" if params[:controller] == "about" %>">
               <a href="/about/profile" >About Us</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/about/profile">Profile</a>
                </li>
                <li>
                  <a href="/about/history">History</a>
                </li>
                <li>
                  
                  <%= link_to 'Mission and Vision', about_mission_path %>
                </li>
                
                
                <li>
                  
                  <%= link_to 'Board of Directors and Executive Staff', about_board_path %>

                </li>
                
              </ul>
            </li>
            <li class="dropdown <%= "active" if params[:controller] == "acadamics" %>">
               <a href="/acadamics/dept" >Academics</a>
              <ul class="dropdown-menu">
                <li>
                  
                  <%= link_to 'Departments & Centres', acadamics_dept_path %>
                </li>


                <li>
                  <a href="/acadamics/course">Courses Offered</a>
                </li>

                <li>
                  <a href="/acadamics/curr">Curriculum and Syllabi</a>
                </li>
                
              </ul>
            </li>
            <li class="dropdown <%= "active" if params[:controller] == "admission" %>">
               <a href="/admission/ug" >Admission</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/admission/ug">Under graduation</a>
                </li>
                <li>
                  <a href="/admission/pg">Post graduation</a>
                </li>
                <li>
                  <a href="/admission/nri">NRI/Foreign National</a>
                </li>
              </ul>
            </li>
            
            <li class="dropdown <%= "active" if params[:controller] == "campuslife" %>">
               <a href="/campuslife/services" >Campus Life</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/campuslife/services">Student Services</a>
                </li>


                <li>
                  <a href="/campuslife/facilities">Facilities</a>
                </li>

                <li>
                  <a href="/campuslife/festivals">Festivals</a>
                </li>
                <li>
                  <a href="/campuslife/clubs">Clubs and Societies</a>
                </li>
                <li>
                  <a href="/campuslife/sports">Sports</a>
                </li>
                <li>
                  <a href="/campuslife/isrp">Institutional Social Responsibility Programs</a>
                </li>
                <li>
                  <a href="/campuslife/hnd">Accomodation</a>
                </li>
                
                
              </ul>
            </li>
            <li class="dropdown <%= "active" if params[:controller] == "research" %>">
               <a href="/research/doing" >Research</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/research/doing">Doing Research in CEG</a>
                </li>


                <li>
                  <a href="https://cfr.annauniv.edu/research/" target="_blank">Research Administration</a>
                </li>

                <li>
                  <a href="/research/centres">Dedicated Research Centres</a>
                </li>
                <li>
                  <a href="/research/irt">Integrated Research & Teaching</a>
                </li>
                 <li>
                  <a href="/research/library">Libraries</a>
                </li>
                
              </ul>
            </li>
            <li class= " dropdown <%= "active" if params[:controller] == "scholar" %>">
              <a href="/scholar/list">Scholarships</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="http://ceg.annauniv.edu/Scholarship/List%20of%20Scholarship.pdf" target="_blank">List of Scholarships</a>
                </li>
                <li>
                  <a href="/scholar/list">Scholarship Details   </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="http://adams.aukdc.edu.in:9090/fis/facprofile_campus.php" target="_blank">Faculty</a>
            </li>
            <li>
              <a href="http://cegam.in/" target="_blank">Alumni</a>
            </li>
            <li>
              <a href="http://acoe.annauniv.edu/student/" target="_blank">Student Login</a>
            </li>
            <li class="<%= "active" if params[:controller] == "contact" %>">
              <a href="/contact/details">Contact details</a>
            </li>
            <!--
            <li>
              <a href="#">Projects</a>
            </li>
            
            <li class="dropdown">
              <a class="dropdown-toggle" href="#">Login</a>
            <ul class="dropdown-menu">
            <li><% if user_signed_in? %>
              <li>Logged in as </li>
              <li><strong><%= current_user.email %></strong>.</li>
              <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
            </li>
            <li>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
            <li>

              <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
            </li>
          </ul> 
          </li> --> 
        </div>
      </nav>
<!--
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
-->
<%= yield %>
<br/>
<br/>
<br/>
<div id="footer">
      <div class="footer-line"> </div>
      <div class="footer-con">
        <div class="row ">
          <div class="col-md-4 foot-het">
            <div class="col-md-8 foot-het">
              <center class="foot-div">
                <%= link_to 'About Us', about_profile_path %><br>
                <%= link_to 'Academics', acadamics_dept_path %><br>
                <a href="/admission/ug">Admission</a><br>
                <a href="/campuslife/facilites">Campus Life</a>
              </center>
            </div>
            <div class="col-md-4 foot-het foot-bor">
              <center class="foot-div">
                <a href="/research/doing">Research</a><br>
                <a href="/scholar/list">Scholarships</a><br>
                <a href="http://adams.aukdc.edu.in:9090/fis/facprofile_campus.php">Faculty</a><br>
                <a href="http://www.cegam.in">Alumni</a>
              </center>
            </div>
          </div>
          <div class="col-md-4 foot-logo">
            <center><img class = "" src = "/assets/ceg3.png" height = "150px"/></center>
          </div>
          <div class="col-md-4 foot-het">
            <div class="col-md-4 foot-het foot-bor">
              <center class="foot-div">
                
                <a href="http://acoe.annauniv.edu/student">Student Login</a><br>
                <a href="/galleries">Galleries</a><br>
                <a href="/sitemap/index">SiteMap</a><br>
                <a href="/contact/details">Contact Us</a>
              </center>
            </div>
            <div class="col-md-8 foot-het">
            
              <div class="foot-div" style="text-align: left; color: white;padding-left: 30px">
                College of Engineering Guindy<br>
                12, Sardar Patel Rd, Guindy<br>
                Chennai, Tamil Nadu 600025
              </div>
                
            
            </div>
          </div>
        </div>
        <div class="inner-foot-line"></div>
        <center>
          <img class = "" src = "/assets/fb_white.png" height = "40px"/>
          <img class = "" style="padding-top:5px" src = "/assets/google-plus_white.png" height = "40px"/>
          <img class = "" src = "/assets/linkedin_white.png" height = "25px"/>
          <img class = "" src = "/assets/twitter_white.png" height = "40px"/>
          <img class = "" src = "/assets/wiki_white.png" height = "40px"/>
          
        </center>
        
        <center>
          <p class="text-muted credit pad-bot">Copyrights 2015, College of Engnineering Guindy</p>
        </center>
        <span class="pull-left">Sitemap</span>
        <div class="dropup pull-right">
          <span class="" type="button"   aria-haspopup="true" aria-expanded="false">
            Login
          </span>
          <ul class="dropdown-menu" >
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        
      </div>

</div>
<div class="footer-line"> </div>



</body>
</html>
