<!DOCTYPE html>
<html>
<head>
  <title></title>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CEG</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'style_nav', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'nanobar', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
  var options = {
  bg: '#acf',
  // leave target blank for global nanobar
  //target: document.getElementById('myDivId'),
  // id for new nanobar
  id: 'myDivId'
};
$('.Scrollable').on('DOMMouseScroll mousewheel', function(ev) {
    var $this = $(this),
        scrollTop = this.scrollTop,
        scrollHeight = this.scrollHeight,
        height = $this.height(),
        delta = (ev.type == 'DOMMouseScroll' ?
            ev.originalEvent.detail * -40 :
            ev.originalEvent.wheelDelta),
        up = delta > 0;

    var prevent = function() {
        ev.stopPropagation();
        ev.preventDefault();
        ev.returnValue = false;
        return false;
    }

    if (!up && -delta > scrollHeight - height - scrollTop) {
        // Scrolling down, but this will take us past the bottom.
        $this.scrollTop(scrollHeight);
        return prevent();
    } else if (up && delta > scrollTop) {
        // Scrolling up, but this will take us past the top.
        $this.scrollTop(0);
        return prevent();
    }
});

var nanobar = new Nanobar( options );

//move bar
nanobar.go( 30 ); // size bar 30%

// Finish progress bar
nanobar.go(100);
  </script>
</head>
<body>
<div class='Scrollable'>
    <div class="container-fluid">
      <div id="myDivId"><br></div>
      <div class = "row" >
        <div class = "col-md-3 logo"> 
          <span><img class = "pull-left au" src = "assets/anna.png" height = "50px"/></span>
        </div>
        <div class = "col-md-6">
          <center>
            <img   height = "80px" src = "assets/CEG.png" />
            <span class = "head1">College of Engineering, Guindy Anna University</span>
          </center>
        </div>
        <div class ="col-md-3">
          <form class="navbar-form pull-right" role="search">
          <div class="form-group">
            <input class="form-control" type="text">
          </div> 
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </form>
      </div>
      </div>
  </div>
    
      <nav class="navbar navbar-default sticky col-md-12 nav_markup" role="navigation">
        <div class="navbar-header">
           
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
             <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button> 
        </div>

        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">HOME</a>
            </li>
            
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Profile</a>
                </li>
                <li>
                  <a href="#">About Us</a>
                </li>
                <li>
                  <a href="#">Mission and Vision</a>
                </li>
                
                </li>
                <li>
                  <a href="#">Board of Directors and Executive Staff</a>
                </li>
                
              </ul>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admission<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Postgraduation</a>
                </li>


                <li>
                  <a href="#">Undergraduation</a>
                </li>
                
                
              </ul>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departments<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Faculty of Civil Engineering</a>
                </li>
                <li>
                  <a href="#">Faculty of Mechanical Engineering</a>
                </li>
                <li>
                  <a href="#">Faculty of Electrical and Electronics Engineering</a>
                </li>
                <li>
                  <a href="#">Faculty of Information and Communication Engineering</a>
                </li>
                <li>
                  <a href="#">Faculty of Management Sciences</a>
                </li>
                <li>
                  <a href="#">Faculty of Science and Humanities</a>
                </li>


                
                
                
              </ul>
            </li>
            <li>
              <a href="#">Campus Life</a>
            </li>
            <li>
              <a href="#">Research</a>
            </li>
            <li>
              <a href="#">Alumni</a>
            </li>
            <li>
              <a href="#">Students</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#"><strong class="caret"></strong>Login</a>
            <ul class="dropdown-menu">
            <li><% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
</li>
<li>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
<li>

  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</li>
          </ul> 
          </li>  
        </div>
      </nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
